.hero {
    background-color: var(--violet);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    gap: 50px;
}
    /* VIDEO ______________________________________________________________________________*/
.moodvideo {
    position: relative;
    width: 100%;
    height: 850px;
    overflow: hidden;
}

.moodvideo > video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.videotext {
    position: relative;
    color: var(--white);
    display: flex;
    width: 100%;
    height: 100%;
    padding: 186px 50px 80px 50px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
}

.about {
    color: var(--violet-lightest);
    max-width: 37%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: center;
}
.benefits {
    display: flex;
    flex-direction: column;
}
.fiftyblock {
    display: flex;
    padding: 100px 50px;
    gap: 90px;
    align-items: stretch;
}

.fiftytext {
    width: 50%;
    justify-content: center;
}

.fiftyimgframe {
    width: 50%;
}
.fiftyimgframe > img {
    width: 100%;
}
#fiftycolor {
    background-color: var(--green);
}
#fiftytextcolor {
    width: 50%;
    justify-content: center;
    color: var(--white);
}
#fiftytext > p {
    width: 70%;
}
#fiftytextcolor > p {
    width: 70%;
}
.middlecta {
    background-color: var(--grey);
    display: flex;
    padding: 100px 50px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#centertext {
    text-align: center;
    width: 30%;
}
.jobblock {
    display: flex;
    width: 100%;
    padding: 100px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.jobheading {
    width: 100%;
    display: flex;
    align-self: flex-start;
    gap: 22px;
}
#titlewidth {
    min-width: 31%;
}
.jobcards {
    width: 100%;
    display: flex;
    padding-left: 32.78%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
    align-self: stretch;
}
.jobcard {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.jobtitle {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media only screen and (max-width: 1024px) {
    .fiftyblock {
        gap: 50px;
    }
    #fiftytext > p, #fiftytextcolor > p {
        width: 100%;
    }
    #centertext {
        width: 50%;
    }
}

@media only screen and (max-width: 924px) {
    .fiftyblock {
        flex-direction: column;
    }
    .fiftyimgframe, #fiftytext, #fiftytextcolor {
        width: 100%;
    }
    .fiftyimgframe {
        order: 2;
    }
}

@media only screen and (max-width: 768px) {
    .moodvideo {
        padding: 0px;
        height: 650px;
    }
    .moodvideo > video {
        object-fit: cover;
        height: 100%;
    }
    .videotext {
        height: 100%;
        padding: 50px 25px;
    }
    .about {
        max-width: 100%;
        padding: 0px 25px;
    }
    .fiftyblock, .fiftyblockcolor {
        padding: 100px 25px;
    }
    .middlecta {
        padding: 100px 25px;
    }
    .jobblock {
        padding: 100px 25px;
        gap: 50px;
    }
    .jobheading {
        flex-direction: column;
        width: 100%;
    }
    #titlewidth {
        width: 100%;
    }
    .jobcards {
        padding-left: 0px;
        gap: 50px;
    }
}

@media only screen and (max-width: 375px) {
    .middlecta {
        align-items: flex-start;
    }
    #centertext {
        width: 100%;
    }
    #centertext > h4, #centertext > p {
        text-align: left;
    }
    .jobheading, .jobheading > p {
        width: 100%;
    }
}