.sub_hero {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 186px 50px 100px 50px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.sub_hero_intro{
    display: flex;
    flex-direction: row;
    gap: 122px;
    color:var(--white)

}

.sub_hero_intro > .t2{
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 24px;
}

.fake_pic{
    width:100%;
    height: 680px;
    background-color: var(--white);
    margin: 50px 0px 80px 0px;
}

.sub_hero_text{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 37%;
    gap: 10px;
    color:var(--white);
}

.text_block{
    max-width: 100%;
    height: 100%;
    background-color:var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 80px 50px;
    flex-direction: column;
    gap: 100px;
}

.text_block_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 96px;
    width:100%;
}

.text_block_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.text_content_row{
    display: flex;
    max-width: 71%;
    justify-content: center;
    align-items: center;
    gap: 94px;
    
}


.text_box{
    display: flex;
    max-width: 44%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.testimonial_placeholder{
    max-width: 100%;
    height: 800px;
    background-color: var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* contact classes */
#contact_heading{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.contact_row{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

input{
 color:white;
 background-color: var(--violet);
 border-color: var(--violet);
 border:none;
 border-bottom:1px solid white;
 outline: none;
 padding: 10px 0px;
}

label{
    height:34px;
    width: 25vw;
}

.contact_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
}

.contact_row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.contact_row > .input_box{
    color:white;
    display: flex;
    flex-direction: column;
}


/* Dropdown area   JAVASCRIPT HERE */
.dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:white;
    margin-top: 50px;
}

.dropbtn {
    display: flex;
    list-style-type: none;
    width: 25vw;
    color: black;
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    justify-content: flex-start;
}

.dropbtn > i {
    display: flex;
    margin-left: auto;
    align-self: flex-end;
    transition: transform 0.3s;
}

.dropbtn.active > i {
    transform:rotate(180deg);
}

.dropdown-content{
    list-style-type: none;
    width: 25vw;
    color: black;
    background-color: white;
    padding: 1px;
    z-index: 1;
    display:none;
}

.dropdown-content > .item{
    display: block;
    padding: 15px;
    background-color: var(--violet);
    color: white;
}

.dropdown-content .item.active {
    background-color:var(--violet-light);
    color: black;
}

.show{
    display: block;
}



/* Checkbox and text area VVV */


.checkbox_samtykke{
    display: flex;
    flex-direction: row;
    margin: 100px 100px 50px 0px;
}

.pentia_checkbox input {
    position: absolute;
    opacity: 0%;
    cursor: pointer;
    width:32px;
    height: 30px;
    
  }

.pentia_checkbox {
    display: inline-block;
    position: relative;
    width:32px;
    margin-right: 50px;
    border-radius: var(--border-radius-on);
    border: 0.5px solid var(--white);
}


.pentia_checkbox > .pentia_checkmark{
    position: absolute;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
    margin: 10% 0% 0% 35%; 
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

.pentia_checkbox input:checked + .pentia_checkmark{
    background-color: var(--violet);
    border: var(--violet);
}

.pentia_checkbox > .pentia_checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.pentia_checkbox input:checked + .pentia_checkmark:after{
    display: block;
}

.checkbox_samtykke > .checkbox_textarea{
    color: white;
    max-width: 25vw;
}

.checkbox_samtykke > .checkbox_textarea > p{
    display: flex;  
    height:auto;

}

/* Primary button (diff colors) */
.contact_primary > .primary{
    color: white;
    border: 0.8px solid var(--white);
}


/* ______________________________________________________________ */
.sub_hero {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 186px 50px 100px 50px;
    flex-direction: column;
    gap: 50px;
}

.pageheading {
    display: flex;
    align-items: flex-start;
    gap: 122px;
    align-self: stretch;
}
.titleframe {
    width: 300px;
}
.titleframe > p {
    color: var(--sand-lightest);
}
.pageheading > h1 {
    width: 100%;
    color: var(--sand-lightest);
}
.sub_hero_img {
    height: 688px;
    align-self: stretch;
}
.about {
    color: var(--sand-lightest);
    max-width: 37%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: center;
}
.timelineblock {
    display: flex;
    width: 100%;
    padding: 100px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.timelinetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.timeline {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.timelinecard {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "text line image";
    align-items: center;
    gap: 25px;
    align-self: stretch;
}

.imgleft {
    grid-area: text;
}

.imgright {
    grid-area: image;
}

.timelinetext {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}
.timelineheading {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.timeline_line {
    grid-area: line;
    width: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.timeline_topline, .timeline_botline {
    border-left: 2px solid var(--granite-light);
    height: 100%;
}
.timelineimg {
    width: 100%;
    height: auto;
}

.timelineimg > img {
    display: block;
    max-width: 100%; /* Ensures image does not exceed the container width */
    height: auto; /* Maintains aspect ratio */
    width: 100%; /* Ensures image fills the width of its container */
    object-fit: cover; /* Ensures the image covers the entire container */
}

.timelinebreaker {
    align-self: center;
    border-left: 2px solid var(--granite-light);
    height: 80px;
}

.timelinecard:nth-last-child(-n+6) {
    display: none; /* Initially hide the last three cards */
}
.timelinecard:nth-last-child(-n+6) ~ .timelinebreaker {
    display: none; /* Hide the breakers below the last three cards */
}
@media only screen and (max-width: 1024px) {
    .pageheading {
        flex-direction: column;
        gap: 25px;
    }
    .timelinecard {
        gap: 50px;
        grid-template-columns: auto 1fr 1fr;
        grid-template-areas: 
            "line text image";
    }
    .timelinebreaker {
        align-self: flex-start;
        margin-left: 15px;
    }

    /* dennis */

    .contact_row{
        flex-direction: column;
        max-width: 100%;
    }

    .input_box label{
        width: 58vw;
        margin-top: 3vh;
    }

    .dropdown > ul{
        width: 58vw;
    }

    .checkbox_textarea > p{
        width: 50vw;
    }

    .checkbox_textarea > .c1{
        width: 50vw;
    }

    .dropbtn{
        width:29vw;
    }
    .dropdown-content{
        width:29vw;
    }
     /* --- */
}
@media only screen and (max-width: 924px) {
    .timelinecard {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "line text"
            "line image";
    }
    .timelinebreaker {
        align-self: flex-start;
        margin-left: 15px;
        height: 100px;
    }
    .timeline_botline {
        height: 100%;
    }
    .timeline_topline {
        height: 100px;
    }

/* dennis */

    .sub_hero_text{
        max-width: 71%;
    }

    .dropbtn{
        width:58vw;
    }
    .dropdown-content{
        width:58vw;
    }
/* --- */
}

@media only screen and (max-width: 768px) {
    .sub_hero {
        padding: 100px 25px;
        
    }
    .about {
        max-width: 100%;
        padding: 0px;
    }
    .timelineblock {
        padding: 100px 25px;
    }
    .timelinetitle {
        width: 100%;
    }
    .timelinetext {
        margin-top: 50px;
    }

    /* Dennis' changes */


    .text_block{
        height: 100%;
        padding: 100px 20px;
        flex-direction: column;
        gap: 50px;
    }
    .text_box{
        max-width: 100%;

    }
    .text_content_row{
        flex-direction: column;
        max-width: 100%;
        gap:50px;
    }

    .sub_hero_text{
        max-width: 100%;
    }


    .contact_row{
        flex-direction: column;
        max-width: 100%;
    }

    .input_box label{
        width: 90vw;
        margin-top: 3vh;
    }

    input{
        padding:0px;
    }

    .dropdown > ul{
        width: 90vw;
    }

    .checkbox_textarea > .c1{
        width: 68vw;
    }

    .dropbtn{
        width:90vw;
    }
    .dropdown-content{
        width:90vw;
    }
    /* --- */
}
@media only screen and (max-width: 768px) {
    .timelinecard {
        gap: 10px;
    }
}